<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>Recommender system library API</title>
    </head>
    <body>
        <h1 style="color: #5e9ca0;">ДОБРО ПОЖАЛОВАТЬ</h1>
        <h2 style="color: #2e6c80;">ЭТО ОНЛАЙН ВЕРСИЯ БИБЛИОТЕКИ ДЛЯ РЕКОМЕНДАТЕЛЬНЫХ СИСТЕМ</h2>
        <p>&nbsp;</p>
        <h2 style="color: #2e6c80;">Данная библиотека представляет следующий функционал:</h2>
        <p><strong>&nbsp;</strong></p>
        <p><strong>&nbsp;</strong></p>
    </body>
</html>